/* Style css In Commen */
/* sass:files */
@import "Reset-Bs.scss";

/* googleFiles:Fonts */
@font-face { font-family: 'Raleway-R'; src: url('../fonts/Raleway/Regular.ttf'); }
@font-face { font-family: 'Raleway-M'; src: url('../fonts/Raleway/Medium.ttf'); }
@font-face { font-family: 'Raleway-SB'; src: url('../fonts/Raleway/SemiBold.ttf'); }
@font-face { font-family: 'Gabriela'; src: url('../fonts/Gabriela/Regular.ttf'); }
@font-face { font-family: 'Poppins'; src: url('../fonts/Poppins/Regular.ttf'); }

/* html:Body */
body {
   font-family: 'Raleway-R', sans-serif;
   height: 100vh;
}

/* API Js FullScreen */
#FullScreen {
   display: flex;
   align-items: center;
   justify-content: center;

   position: fixed;
   bottom: 70px;
   right: 16px; 

   height: 48px; 
   width: 48px;
   border: none;
   outline: none;

   &:hover { background-color: #00bbab !important; }
}

.Raleway-R { font-family: 'Raleway-R', sans-serif !important; }
.Raleway-M { font-family: 'Raleway-M', sans-serif !important; }
.Raleway-SB { font-family: 'Raleway-SB', sans-serif !important; }
.Poppins { font-family: 'Poppins', sans-serif !important; }
.Gabriela { font-family: 'Gabriela', sans-serif !important; }