/* Style css In Commen */

/* html:Body */
body {
   font-family: 'Raleway', sans-serif;
   height: 100vh;
}

/* sass:files */
@import "Reset-Bs.scss";

/* google:Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

/* API Js FullScreen */
#FullScreen {
   display: flex;
   align-items: center;
   justify-content: center;

   position: fixed;
   bottom: 70px;
   right: 16px; 

   height: 48px; 
   width: 48px;
   border: none;
   outline: none;

   i.bx { font-size: 28px !important; }
   &:hover { background-color: #00bbab !important; }
}

/* html:Header */
header nav a i.bx-x { transform: scale(1.4); }

.Raleway { font-family: 'Raleway', sans-serif !important; }
.Poppins { font-family: 'Poppins', sans-serif !important; }
.Gabriela { font-family: 'Gabriela', sans-serif !important; }